.container {
  padding: 20px;
}

/* Pagination styles */
.pagination_zgloszenia {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 200;
  font-size: 14px;
  flex-wrap: wrap;
}

.pageButton_zgloszenia {
  padding: 1px 8px;
  margin: 0px;
  border-radius: 5px;
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pageButton_zgloszenia:hover {
  background-color: #e0dfdf;
}

.active_zgloszenia {
  background-color: #d4e5d2;
  font-weight: 500;
}

/* Responsive details (optional for mobile view) */
.expanded_details {
  background-color: #f8f8f8;
  padding: 10px 20px;
  margin-top: -5px;
  margin-bottom: 5px;
  border-radius: 0 0 12px 12px;
  border: 1px solid #ddd;
  border-top: none;
}

.detail_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.detail_label {
  font-weight: bold;
  color: #3d513d;
}

.column_zgloszenia i:last-child {
  display: none;
}

.massActionContainer {
   position: absolute;
  right: 10px; 
  bottom: 10px; 
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.massActionSelect {
  padding: 4px 18px;
  width: 180px;
  border-radius: 13px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  color: #2c2c2c;
  background: linear-gradient(145deg, #f9f9f9, #e8e8e8);
  border: 1px solid #ccc;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.4),
              0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 16px;
  padding-right: 40px; 
}

.massActionSelect:focus {
  outline: none;
  border-color: #99c49a;
  box-shadow: 0 0 0 2px rgba(163, 140, 87, 0.2);
}

.zastosujButton {
  background-color: #3b5f3b;
  color: white;
  border: none;
  padding: 4px 18px;
  font-size: 14px;
  border-radius: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.zastosujButton:hover {
  background-color: #2d4a2d;
}
@media(max-width:950px){
  .massActionContainer{
       position: relative;
    bottom: 5px;
    left: 33%;
  }
}
@media(max-width:680px){
  .massActionContainer{
    left: 30%;
  }
}
@media(max-width:680px){
  .massActionContainer{
    left: 25%;
  }
}
@media(max-width:420px){
  .massActionContainer{
    left: 16%;
  }
}
@media(max-width:370px){
  .massActionContainer{
    flex-direction: column;
    left: 0px;
  }
  .massActionSelect{
    width: 80%;
  }
  .zastosujButton{
    width: 80%;
  }
}