.a7-card-wrapper {
  margin-top: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100.5%;
  position: relative;
  overflow: hidden;
}

.a7-background-image {
  width: 100%;
  height: auto;
  display: block;
}

.a7-button-wrapper {
  position: absolute;
  bottom: 3px;
  right: 0.5%;
  width: 30%; 
  aspect-ratio: 4 / 1; 
}

.a7-button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  background: transparent;
}
.a7-button:hover{
    transform: translateY(-4px) ;
} 

.a7-button-text {
  color: white;
  font-size: 2vw; 
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
  z-index: 2;
  position: relative;
  text-align: center;
  left: 25px;
  top: 3px;
}

.a7-button-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}
